/* 텍스트 링크 모음 */

/* 컴포넌트 */
.member-service {
  --font-size: 0.875rem;

  font-size: 0;
  background: yellow;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  text-align: right;
  
  li {
    background: orange;
    display: inline-block;
    margin: 0;
    font-size: var(--font-size);
    
    a {
      padding: 0 1em;
      font-variant: small-caps;
      margin: 0;
      text-transform: uppercase;
      color: inherit;
      text-decoration: none;
    }

    /* a:link{
      color: green;
    }

    a:visited{
      color: silver;
    }

    a:active{
      color: red;
    }

    a:hover, a:focus{
      color: yellow
    } */

  }
}
