body {
  color: #f00;
  font-size: 30px;
}

/* 1 */
div {
  border: 1px solid blue;
}

/* 100 */
#heading {
  color: darkblue;
}

/* 10 */
.heading#heading {
  color: purple;
}

/* 11 */
h1.heading {
  color: green;
}

/* 10 */
.techit {
  color: grey;
}

/* 10 - 상속 */
.container {
  color: hotpink;
}

h1 .heading {
  color: orange;
}
