@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.header,
.visual,
.main,
.slogan,
.footer {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: yellow;
}
/* 비주얼 */
.visual {
  background-color: pink;
}
/* 메인 콘텐츠 */
.main {
  background-color: skyblue;
}
/* 슬로건 */
.slogan {
  background-color: lime;
}
/* 푸터 */
.footer {
  background-color: orange;
}
