@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: yellow;
  height: 10vh;
  padding: 0 50px;
}
/* 비주얼 */
.visual {
  background-color: pink;
  height: 10vh;
}
/* 메인 콘텐츠 */
.main {
  background-color: skyblue;
  /* height: 60vh; */
  display: flow-root;
  min-height: 450px;
  padding: 0 15px;
}

.group-wrapper {
  float: right;
  border: 1px solid green;
}

.group {
  border: 1px solid red;
  margin: 0 15px;
}

.group1 {
  width: 250px;
  float: left;
  background-color: orange;
}

.group2 {
  width: 380px;
  float: left;
  background: silver;
  margin-right: 0;
}

.group3 {
  background: hotpink;
  width: 190px;
  float: left;
}

/* 슬로건 */
.slogan {
  background-color: lime;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  background-color: orange;
}

.footer-inner {
  background: yellow;
  height: 10vh;
}
