:root {
  --container-size: 940px;
}

/* 기본 박스 사이징 설정 */
*, *::before, *::after{
  box-sizing: border-box;
}

/* 그라디언트 배경, 배경 이미지 */
body {
  font-family: "SUIT Variable", sans-serif;
  background-color: #ccc;
  background-image:  url(/images/bg_flower.png), linear-gradient(to bottom, #aaa 0%, #ccc 30%, #eee 50%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0, 0 0;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #fff;
  height: 120px;
  padding: 0 50px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  /* background-color: orange; */
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 비주얼 */
.visual {
  height: 120px;
  block-size: 120px;
  position: relative;

  &::before, &::after{
    content: "";
    width: inherit;
    inline-size: inherit;
    height: inherit;
    block-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}


.visual::before{
  /* z-index: 1; */
  background-image: url(/images/ani_flower_01.png), url(/images/ani_flower_02.png);
  background-position: 0 -10px, 600px 10px;
}

.visual::after{
  background-image: url(/images/ani_flower_03.png), url(/images/ani_flower_04.png);
  background-position: 300px 0, 800px 30px;
}


/* 메인 콘텐츠 */
.main {
  background-color: #fff;
  display: flow-root;
  min-height: 450px;
  padding: 28px 16px 36px;
}

.group {
  border: 1px solid red;
  float: left;
}

.group:nth-child(n + 2) {
  margin-left: 44px;
}

.group1 {
  width: 250px;
  /* background-color: orange; */
}

.group2 {
  width: 380px;
  /* background: silver; */
}

.group3 {
  /* background: hotpink; */
  width: 190px;
}

/* 슬로건 */
.slogan {
  /* background-color: lime; */
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  /* background-color: orange; */
}

.footer-inner {
  /* background: yellow; */
  height: 10vh;
}

/* -------------------------------------------------------------------------- */
/*                          flex를 지원하는 웹브라우저를 위한 스타일                   */
/* -------------------------------------------------------------------------- */

@supports (display: flex) {
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .group:nth-child(n + 2) {
    margin-left: 0;
  }

  .group3 {
    order: -1;
  }
}
