@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: yellow;
  height: 10vh;
  padding: 0 50px;
}
/* 비주얼 */
.visual {
  background-color: pink;
  height: 10vh;
}
/* 메인 콘텐츠 */
.main {
  background-color: skyblue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start; /* 메인 축 */
  align-items: stretch; /* 교차 축*/
}

.group {
  border: 1px solid red;
}

/* 슬로건 */
.slogan {
  background-color: lime;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color: orange;
}
.footer-inner {
  background: yellow;
  height: 10vh;
}
