<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>텍스트 링크 모음</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/member-service.css" />
  </head>
  <body>
    <h1>텍스트 링크 모음</h1>

    <!-- 공백문자 : 엔터키, 스페이스키, 탭키, 폼피드 &nbsp; -->
    <ul class="member-service">
      <li>
        <a href="/">홈</a>
      </li>
      <li>
        <span aria-hidden="true">:</span>
        <a href="/">로그인</a>
      </li>
      <li>
        <span aria-hidden="true">:</span>
        <a href="/">회원가입</a>
      </li>
      <li>
        <span aria-hidden="true">:</span>
        <a href="/">사이트맵</a>
      </li>
      <li>
        <span aria-hidden="true">:</span>
        <a href="/">english</a>
      </li>
    </ul>
  </body>
</html>
